name: Deploy MCP Server

on:
  push:
    branches:
      - main
    paths:
      - 'src/titanic/mcp_server/**'
      - '/tests/mcp_server/**'
      - 'k8s/mcp_server/**'
      - '.github/workflows/deploy-mcp-server.yml'
  workflow_dispatch:

env:
  MCP_SERVER_IMAGE_NAME: quay.io/{{ cookiecutter.quay_username }}/titanic/mcp-server
  MCP_SERVER_DEPLOYMENT_NAME: titanic-mcp-server
  MCP_SERVER_SECRET_NAME: mcp-oauth2-credentials

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python {{ cookiecutter.python_version }}
        uses: actions/setup-python@v3
        with:
          python-version: {{ cookiecutter.python_version }}
      - name: Install dependencies
        run: |
            echo "To implement"